services:
    Predis\Client:
        class: \Predis\Client
        arguments:
            - '%env(REDIS_URL)%'

    Symfony\Component\Cache\Adapter\RedisAdapter:
        class: \Symfony\Component\Cache\Adapter\RedisAdapter
        arguments:
            - '@Predis\Client'

    Github\Client:
        arguments:
            - '@Github\HttpClient\Builder'
        calls:
            # use: !php/const \Github\Client::AUTH_ACCESS_TOKEN instead of: 'access_token_header'
            # when the yaml linter can deal with custom tags
            - ['authenticate', ['%env(GITHUB_OAUTH_TOKEN)%', null, 'access_token_header']]
            - ['addCache', ['@Symfony\Component\Cache\Adapter\RedisAdapter']]

    Github\HttpClient\Builder:
        arguments:
            - '@?Http\Client\HttpClient'
            - '@?Http\Message\RequestFactory'
            - '@?Http\Message\StreamFactory'

    Github\ResultPager:
        arguments:
            - '@Github\Client'

    Github\ResultPagerInterface: '@Github\ResultPager'
