services:
    Redis:
        class: Redis
        calls:
            - ['connect', ['%env(REDIS_HOST)%', '%env(int:REDIS_PORT)%']]

    Cache\Adapter\Redis\RedisCachePool:
        arguments:
            - '@Redis'

    Github\Client:
        arguments:
            - '@Github\HttpClient\Builder'
        calls:
            - ['authenticate', ['%env(GITHUB_OAUTH_TOKEN)%', null, 'access_token_header']]
            - ['addCache', ['@Cache\Adapter\Redis\RedisCachePool']]

    Github\HttpClient\Builder:
        arguments:
            - '@?Http\Client\HttpClient'
            - '@?Http\Message\RequestFactory'
            - '@?Http\Message\StreamFactory'

    Github\ResultPager:
        arguments:
            - '@Github\Client'

    Github\ResultPagerInterface: '@Github\ResultPager'
