GITHUB_OAUTH_TOKEN=token_to_be_changed
DEV_KIT_TOKEN=token_to_be_changed
SLACK_TOKEN=token_to_be_changed

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=de84d932c6c720a3288f0737afa7d190
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###
