branches:
  only:
    - master

language: php

php: 7.1

sudo: false

cache:
  directories:
    - $HOME/.composer

env:
  global:
    - PATH="$HOME/.local/bin:$PATH"

before_install:
  - phpenv config-rm xdebug.ini
  - mkdir --parents ~/.local/bin
  - wget http://cs.sensiolabs.org/download/php-cs-fixer-v2.phar --output-document=php-cs-fixer.phar

install:
  - |
      composer global show hirak/prestissimo --quiet ||
      travis_retry composer global require hirak/prestissimo --prefer-dist --no-interaction --no-progress
  - composer update --prefer-dist --no-interaction --no-progress

script:
  - echo $SSH_PRIVATE_KEY
  - php php-cs-fixer.phar fix --verbose --dry-run --diff
  - touch .env
  - ./dev-kit dispatch
