includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: ./phpstan-console-application.php
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
