name: Dispatch labels, hooks, topics and settings

on:
    schedule:
        # At 05:00
        # https://crontab.guru/#0_5_*_*_*
        - cron: '0 5 * * *'

env:
    REQUIRED_PHP_EXTENSIONS: redis

permissions:
    contents: read

jobs:
    dispatch:
        name: PHP ${{ matrix.php-version }}

        runs-on: ubuntu-latest

        strategy:
            matrix:
                php-version:
                    - '8.0'

        services:
            redis:
                image: redis
                options: >-
                    --health-cmd "redis-cli ping"
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 6379:6379

        env:
            APP_ENV: prod
            APP_DEBUG: 0
            REDIS_HOST: localhost
            REDIS_PORT: 6379
            GITHUB_OAUTH_TOKEN: ${{ secrets.OAUTH_TOKEN_GITHUB }}
            DEV_KIT_TOKEN: ${{ secrets.DEV_KIT_TOKEN }}
            SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install PHP with extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: ${{ env.REQUIRED_PHP_EXTENSIONS }}
                  coverage: none
                  tools: composer:v2

            - name: Install Composer dependencies (locked)
              uses: ramsey/composer-install@v2
              with:
                  composer-options: --no-dev --classmap-authoritative

            - name: Dump env
              run: composer dump-env prod

            - name: Dispatch labels
              run: bin/console dispatch:labels --apply

            - name: Dispatch hooks
              run: bin/console dispatch:hooks --apply

            - name: Dispatch topics
              run: bin/console dispatch:topics --apply

            - name: Dispatch settings
              run: bin/console dispatch:settings --apply
