name: Lint

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    php-cs-fixer:
        name: PHP-CS-Fixer

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Run PHP-CS-Fixer
              uses: docker://oskarstark/php-cs-fixer-ga:2.18.1
              with:
                  args: --ansi --verbose --diff --dry-run

    composer-normalize:
        name: composer-normalize

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Run composer-normalize
              uses: docker://ergebnis/composer-normalize-action:0.8.0
              with:
                  args: --dry-run

    yaml-files:
        name: YAML files

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install yamllint
              run: sudo apt-get install yamllint

            - name: Lint files
              run: make lint-yaml

    xml-files:
        name: XML files

        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install required dependencies
              run: sudo apt-get update && sudo apt-get install libxml2-utils

            - name: Lint files
              run: make lint-xml
