on: [push, pull_request]

name: Quality assurance

jobs:
  phpstan:
    name: PHPStan

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Run PHPStan"
        uses: "docker://oskarstark/phpstan-ga"
        with:
          args: analyse
