name: Release

on:
  push:
    branches:
      - master

jobs:
  update-revision-file:
    name: REVISION

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Update REVISION file
        run: echo $(git rev-parse HEAD) > REVISION

      - name: Commit REVISION file
        uses: stefanzweifel/git-auto-commit-action@v4.8.0
        with:
          branch: master
          commit_message: Update REVISION file
          file_pattern: REVISION
        env:
          GITHUB_TOKEN: ${{ secrets.SONATA_CI_GIHUB_TOKEN }}
